/* # Empty CSS file for your own CSS */
.header
{
    height: 80px;
    width: 100%;
    padding: 0px 50px;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
    display:flex ;
    align-items: center;
    justify-content: space-between ;
}

.navbarpizza
{
    height: 80px;
    width: 80px;
}